#musicModalBody ul {
  padding-left: 1rem;
}

#musicModalBody p {
  margin-bottom: 0.4rem;
}

#pageInfo {
  font-size: 0.9rem;
  color: #ccc;
  text-align: center;
  margin-top: 1rem;
}

.music-group-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4); /* halvgenomskinlig svart */
  backdrop-filter: blur(6px);     /* frostad glas-effekt */
  padding: 0.6rem 1rem;
  margin-bottom: 12px;
  border-radius: 12px;
  font-size: 0.9rem;
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.1); /* tunn kant */
}

.music-group-card:hover {
  background-color: #333;
}

.music-group-card span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.95rem;
  color: #fff;
  flex: 1;
  margin-right: 1rem;
}

.music-group-card button {
  flex-shrink: 0;
}

#searchResultInfo {
  font-size: 0.9rem; 
  color: white;      
  margin-top: 0.5rem; 
  text-align: center; 
}

#pagination .btn {
  margin: 0 5px;
}

#searchForm {
  gap: 0.5rem;
  margin-bottom: 2rem;
}
